.confirmation-modal {
    background: #FCFCFC;
    width: 382px;
    transition: all 0.2s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

body.dark .confirmation-modal{
    background: #33383F;
}

.confirmationContent {
    text-align: center;
    padding: 40px;
}
.confirmationContent h3 {
    margin: 0;
    font-size: 18px;
}

.confirmationButtons {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: center;
    margin-top: 20px;
}
body.dark .confirmationButtons .button-stroke {
    color: #1A1D1F;
}

.actionButtons {
    display: flex;
    gap: 16px;
    margin-right: auto;
}

.actionButton {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s;
}
.actionButton:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.actionButton span {
    font-size: 14px;
}

.confirmButton, .cancelButton {
    width: 100%;
}